In [1]:
# importinng dependencies
import pandas as pd

In [2]:
# import Sample Table 1
sample_review_df = pd.read_csv("tables/sample_table_hotel_reviews.csv")
sample_review_df

,Id,Hotel_Address,Additional_Number_of_Scoring,Review_Date,Average_Score,Hotel_Name,Reviewer_Nationality,Negative_Review,Review_Total_Negative_Word_Counts,Total_Number_of_Reviews,Positive_Review,Review_Total_Positive_Word_Counts,Total_Number_of_Reviews_Reviewer_Has_Given,Reviewer_Score,Tags,days_since_review
0,0,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Russia,I am so angry that i made this post available...,397,1403,Only the park outside of the hotel was beauti...,11,7,2.9,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days
1,1,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Ireland,No Negative,0,1403,No real complaints the hotel was great great ...,105,7,7.5,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days
2,2,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,Australia,Rooms are nice but for elderly a bit difficul...,42,1403,Location was good and staff were ok It is cut...,21,9,7.1,"[' Leisure trip ', ' Family with young childre...",3 days
3,3,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,United Kingdom,My room was dirty and I was afraid to walk ba...,210,1403,Great location in nice surroundings the bar a...,26,1,3.8,"[' Leisure trip ', ' Solo traveler ', ' Duplex...",3 days
4,4,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/24/2017,7.7,Hotel Arena,New Zealand,You When I booked with your company on line y...,140,1403,Amazing location and building Romantic setting,8,3,6.7,"[' Leisure trip ', ' Couple ', ' Suite ', ' St...",10 days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,995,1 2 Serjeant s Inn Fleet Street City of London...,639,4/25/2017,9.2,Apex Temple Court Hotel,United Kingdom,No Negative,0,2619,Great location room was outstanding beds were...,30,5,10.0,"[' Leisure trip ', ' Couple ', ' City Twin Roo...",100 day
996,996,1 2 Serjeant s Inn Fleet Street City of London...,639,4/23/2017,9.2,Apex Temple Court Hotel,United Kingdom,The cleaner knocked on our door at 8am which ...,38,2619,The hotel gave us a complimentary upgrade to ...,28,2,10.0,"[' Leisure trip ', ' Couple ', ' City King Roo...",102 day
997,997,1 2 Serjeant s Inn Fleet Street City of London...,639,4/21/2017,9.2,Apex Temple Court Hotel,United States of America,This was my second time at this hotel the fir...,72,2619,No Positive,0,11,8.3,"[' Business trip ', ' Solo traveler ', ' Super...",104 day
998,998,1 2 Serjeant s Inn Fleet Street City of London...,639,4/20/2017,9.2,Apex Temple Court Hotel,Spain,Going as a family with two rooms hired in the...,34,2619,The design facilities and location of the hot...,16,7,10.0,"[' Leisure trip ', ' Family with young childre...",105 day
999,999,1 2 Serjeant s Inn Fleet Street City of London...,639,4/19/2017,9.2,Apex Temple Court Hotel,United Kingdom,Some of the complimentary items of food from ...,24,2619,Staff were lovely reception sent a card and a...,46,3,10.0,"[' Leisure trip ', ' Couple ', ' City King Roo...",106 day

# Merging positive and negative review columns into 1 column

In [3]:
# changing the No Negative to null
sample_review_df.loc[(sample_review_df["Negative_Review"] == "No Negative"), "Negative_Review"] = ''

# changing the No Positive to null
sample_review_df.loc[(sample_review_df["Positive_Review"] == "No Positive"), "Positive_Review"] = ''

sample_review_df

,Id,Hotel_Address,Additional_Number_of_Scoring,Review_Date,Average_Score,Hotel_Name,Reviewer_Nationality,Negative_Review,Review_Total_Negative_Word_Counts,Total_Number_of_Reviews,Positive_Review,Review_Total_Positive_Word_Counts,Total_Number_of_Reviews_Reviewer_Has_Given,Reviewer_Score,Tags,days_since_review
0,0,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Russia,I am so angry that i made this post available...,397,1403,Only the park outside of the hotel was beauti...,11,7,2.9,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days
1,1,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Ireland,,0,1403,No real complaints the hotel was great great ...,105,7,7.5,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days
2,2,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,Australia,Rooms are nice but for elderly a bit difficul...,42,1403,Location was good and staff were ok It is cut...,21,9,7.1,"[' Leisure trip ', ' Family with young childre...",3 days
3,3,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,United Kingdom,My room was dirty and I was afraid to walk ba...,210,1403,Great location in nice surroundings the bar a...,26,1,3.8,"[' Leisure trip ', ' Solo traveler ', ' Duplex...",3 days
4,4,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/24/2017,7.7,Hotel Arena,New Zealand,You When I booked with your company on line y...,140,1403,Amazing location and building Romantic setting,8,3,6.7,"[' Leisure trip ', ' Couple ', ' Suite ', ' St...",10 days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,995,1 2 Serjeant s Inn Fleet Street City of London...,639,4/25/2017,9.2,Apex Temple Court Hotel,United Kingdom,,0,2619,Great location room was outstanding beds were...,30,5,10.0,"[' Leisure trip ', ' Couple ', ' City Twin Roo...",100 day
996,996,1 2 Serjeant s Inn Fleet Street City of London...,639,4/23/2017,9.2,Apex Temple Court Hotel,United Kingdom,The cleaner knocked on our door at 8am which ...,38,2619,The hotel gave us a complimentary upgrade to ...,28,2,10.0,"[' Leisure trip ', ' Couple ', ' City King Roo...",102 day
997,997,1 2 Serjeant s Inn Fleet Street City of London...,639,4/21/2017,9.2,Apex Temple Court Hotel,United States of America,This was my second time at this hotel the fir...,72,2619,,0,11,8.3,"[' Business trip ', ' Solo traveler ', ' Super...",104 day
998,998,1 2 Serjeant s Inn Fleet Street City of London...,639,4/20/2017,9.2,Apex Temple Court Hotel,Spain,Going as a family with two rooms hired in the...,34,2619,The design facilities and location of the hot...,16,7,10.0,"[' Leisure trip ', ' Family with young childre...",105 day
999,999,1 2 Serjeant s Inn Fleet Street City of London...,639,4/19/2017,9.2,Apex Temple Court Hotel,United Kingdom,Some of the complimentary items of food from ...,24,2619,Staff were lovely reception sent a card and a...,46,3,10.0,"[' Leisure trip ', ' Couple ', ' City King Roo...",106 day

In [4]:
# merge positve and negative review columns into a 'Combined review' column
sample_review_df["Combined_Review"] = sample_review_df["Negative_Review"] + sample_review_df["Positive_Review"]

sample_review_df

,Id,Hotel_Address,Additional_Number_of_Scoring,Review_Date,Average_Score,Hotel_Name,Reviewer_Nationality,Negative_Review,Review_Total_Negative_Word_Counts,Total_Number_of_Reviews,Positive_Review,Review_Total_Positive_Word_Counts,Total_Number_of_Reviews_Reviewer_Has_Given,Reviewer_Score,Tags,days_since_review,Combined_Review
0,0,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Russia,I am so angry that i made this post available...,397,1403,Only the park outside of the hotel was beauti...,11,7,2.9,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,I am so angry that i made this post available...
1,1,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,8/3/2017,7.7,Hotel Arena,Ireland,,0,1403,No real complaints the hotel was great great ...,105,7,7.5,"[' Leisure trip ', ' Couple ', ' Duplex Double...",0 days,No real complaints the hotel was great great ...
2,2,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,Australia,Rooms are nice but for elderly a bit difficul...,42,1403,Location was good and staff were ok It is cut...,21,9,7.1,"[' Leisure trip ', ' Family with young childre...",3 days,Rooms are nice but for elderly a bit difficul...
3,3,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/31/2017,7.7,Hotel Arena,United Kingdom,My room was dirty and I was afraid to walk ba...,210,1403,Great location in nice surroundings the bar a...,26,1,3.8,"[' Leisure trip ', ' Solo traveler ', ' Duplex...",3 days,My room was dirty and I was afraid to walk ba...
4,4,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,194,7/24/2017,7.7,Hotel Arena,New Zealand,You When I booked with your company on line y...,140,1403,Amazing location and building Romantic setting,8,3,6.7,"[' Leisure trip ', ' Couple ', ' Suite ', ' St...",10 days,You When I booked with your company on line y...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,995,1 2 Serjeant s Inn Fleet Street City of London...,639,4/25/2017,9.2,Apex Temple Court Hotel,United Kingdom,,0,2619,Great location room was outstanding beds were...,30,5,10.0,"[' Leisure trip ', ' Couple ', ' City Twin Roo...",100 day,Great location room was outstanding beds were...
996,996,1 2 Serjeant s Inn Fleet Street City of London...,639,4/23/2017,9.2,Apex Temple Court Hotel,United Kingdom,The cleaner knocked on our door at 8am which ...,38,2619,The hotel gave us a complimentary upgrade to ...,28,2,10.0,"[' Leisure trip ', ' Couple ', ' City King Roo...",102 day,The cleaner knocked on our door at 8am which ...
997,997,1 2 Serjeant s Inn Fleet Street City of London...,639,4/21/2017,9.2,Apex Temple Court Hotel,United States of America,This was my second time at this hotel the fir...,72,2619,,0,11,8.3,"[' Business trip ', ' Solo traveler ', ' Super...",104 day,This was my second time at this hotel the fir...
998,998,1 2 Serjeant s Inn Fleet Street City of London...,639,4/20/2017,9.2,Apex Temple Court Hotel,Spain,Going as a family with two rooms hired in the...,34,2619,The design facilities and location of the hot...,16,7,10.0,"[' Leisure trip ', ' Family with young childre...",105 day,Going as a family with two rooms hired in the...
999,999,1 2 Serjeant s Inn Fleet Street City of London...,639,4/19/2017,9.2,Apex Temple Court Hotel,United Kingdom,Some of the complimentary items of food from ...,24,2619,Staff were lovely reception sent a card and a...,46,3,10.0,"[' Leisure trip ', ' Couple ', ' City King Roo...",106 day,Some of the complimentary items of food from ...

In [5]:
# export as csv
sample_review_df.to_csv('sample_table_for_NLP.csv', index=False)